{
  "Telecom-56402705":{
    "ip" : "192.168.1.64",
    "mask" : "255.255.255.0",
    "gateway" : "192.168.1.1",
    "dns1" : "1.1.1.1",
    "dns2" : "1.0.0.1"
  },
  "Telecom-56402705-h":{
    "ip" : "192.168.1.64",
    "mask" : "255.255.255.0",
    "gateway" : "192.168.1.1",
    "dns1" : "1.1.1.1",
    "dns2" : "1.0.0.1"
  },
  "unimib":{
    "dns1" : "1.1.1.1",
    "dns2" : "1.0.0.1"
  },
  "IoT Lab":{
    "dns1" : "1.1.1.1",
    "dns2" : "1.0.0.1"
  }
}
